.App{
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
}

.iteration-dashboard-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  max-width: 25rem;
}

.iteration-dashboard-container:hover{
  background-color: #eee;
}